
<div class="container">

	<form class="form-signin" #form="ngForm" (ngSubmit)="onSubmit(form)">
		<h1 class="form-signin-heading text-muted">Registration Page</h1>
		<input type="text" ngModel name="username" class="form-control" placeholder="user name" required="" autofocus="">
    <input type="text" ngModel name="name" class="form-control" placeholder="name" required="" autofocus="">
		<input type="text" ngModel name="password" class="form-control" placeholder="password" required="">

		<button name="click" type="submit" class="btn btn-lg btn-primary btn-block">
			Register
		</button>
		<a routerLink="">Login</a>
	</form>

</div>
<!--
<div class="container">

	<form class="form-signin">
		<h1 class="form-signin-heading text-muted">Registration Page</h1>
		<input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="user name" required="" autofocus="">
    <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="name" required="" autofocus="">
    <input type="text" [(ngModel)]="email" name="email" class="form-control" placeholder="email" required="" autofocus="">
		<input type="text" [(ngModel)]="password" name="password" class="form-control" placeholder="password" required="">

		<button name="click" type="submit" (click)="onSubmit()" class="btn btn-lg btn-primary btn-block">
			Register
		</button>
	</form>

</div> -->
