<div class="container">

	<form #form="ngForm" (ngSubmit)="onSubmit(form)" class="form-signin">
		<h1 class="form-signin-heading text-muted">Log In Page</h1>
		<input type="text" ngModel name="username" class="form-control" placeholder="user name" required="" autofocus="">
		<input type="text" ngModel name="password" class="form-control" placeholder="password" required="">
		<button name="click" type="submit" class="btn btn-lg btn-primary btn-block">
			Log In
		</button>

		<a routerLink="register">Register</a>
	</form>

</div>
<!--<div class="container">

	<form #form="ngForm" (ngSubmit)="logForm(form)" class="form-signin">
		<h1 class="form-signin-heading text-muted">Log In Page</h1>
		<input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="user name" required="" autofocus="">
		<input type="text" [(ngModel)]="password" name="password" class="form-control" placeholder="password" required="">
		<button name="click" type="submit" (click)="onSubmit()" class="btn btn-lg btn-primary btn-block" ngModel>
			Log In
		</button>

		<a routerLink="register">Register</a>
	</form>

</div>
-->
