<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<!-- <app-login></app-login>  -->
<!-- <app-registration></app-registration> -->
<!--<app-circle (selectedCircle)="onSelect($event)"></app-circle>-->
<!--<app-message [messageobj]="currentSelectedCircle"></app-message>-->
<!--
<div style="text-align:center">

    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-sm-12" style="background-color:white;height:100px;text-color:#F0D756">
          <h1>

            <br>Activity Stream Step - 1 Angular
          </h1>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-3" style="background-color:#17a2b8;height:600px">
        <h2> Users</h2>
        <div class="list-type5">
        <ol>
        <li><a href="#"><app-user></app-user></a></li>
        </ol>
      </div>
      </div>
      <div class="col-sm-6" style="background-color:#6c757d;height:600px">

        <h2>  Message</h2>

        <div class="list-type5">
        <ol>
        <li><a href="#"><app-message></app-message></a></li>
        </ol>
      </div>

      </div>

      <div class="col-sm-3" style="background-color:#20c997;height:600px">

      <h2>Circle</h2>

        <div class="list-type5">
        <ol>
        <li><a href="#"><app-circle></app-circle></a></li>
        </ol>
      </div>
    </div>

</div>
-->
